#root {
  text-align: center;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  /* font-family: 'Rozha One', serif;*/
font-family: 'Ysabeau', sans-serif;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.colors {
  display: flex;
  width: 80vw;
  height: 40vh;
  gap: 10px;
  background-color: white;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
}

.color1 {
  width: 100px;
  height: 100px;
  background-color: white;
}

.color2 {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
}

.color3 {
  width: 100px;
  height: 100px;
  background-color: #cdcdcc;
}

.color4 {
  width: 100px;
  height: 100px;
  background-color: #777776;
}

.color5 {
  width: 100px;
  height: 100px;
  background-color: #1d1f1c;
}

.color6 {
  width: 100px;
  height: 100px;
  background-color: black;
}