.profile-layout-wrapper {
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  /*border: solid green 5px;*/
}

.profile-main {
  width: 70%;
  margin: 40px;
  /* border: solid red 5px;*/
}

.sidebar {
  display: flex;
  flex-direction: column;
  /*border: solid blue 5px;*/
  align-items: flex-start;
  list-style: none;
  width: 30%;
  gap: 5px;
  padding-left: 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.sidebar li {
  border-radius: 10px;
  padding: 10px;
}

.seller-sidebar li:hover {
  background-color: #cdcdcc;
}

.sidebar li.active {
  background-color: #777776;
  color: #f0f0f0;
}

.sidebar li.active a {
  background-color: #777776;
  color: #f0f0f0;
}


a.link .active {
  color: #f0f0f0;
}

.logout {
font-family: 'Ysabeau', sans-serif;
font-size: 1.3rem;
padding: 5px;
border: solid 1px #1d1f1c;
cursor: pointer;
margin-top: 30px;
}