.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
  color: gray;
  border: solid gray 2px;
}

.header-title-container {
  display: flex;
}

.header-title {
  font-family: 'Rozha One', serif;
  display: flex;
  align-items: center;
}

.header-A {
  font-size: 60px;
}

.header-A-rest {
  font-size: 35px;
}

.header-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 30px;
}

.search-bar {
  position: relative;
}

.search-input {
 border: solid black 2px;
 height: 35px;
 width: 170px;
 border-radius: 20px;
 padding-left: 40px;
 padding-right: 20px;
 padding-top: 5px;
}

.search-img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header-nav-about {
    color: black;
}

.header-nav-signup {
    border: solid black 2px;
    padding: 10px;
}



/** ~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.footer {
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -70px;
}

.footer-content a {
  text-decoration: none;
  color: white;
}


.footer-content h3, .footer-content p {
  color: white;
}

.footer-company {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.footer-quicklinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-resources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
}

.social-logo {
  height: 40px;
  border-radius: 50%;
  background-color: #aaaaaa;
  border: solid #aaaaaa 2px;
}

.footer-copyright hr {
  width: 95vw;
}

.footer-copyright {
  margin-top: 140px;
  color: white;
}