.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

.header a {
  text-decoration: none;
  color: #1d1f1c;
}

.header a:hover {
  color: #cdcdcc;
}

.header-nav-signup:hover {
  border: solid #cdcdcc 2px;
}

.header-title {
  font-family: "Rozha One", serif;
  display: flex;
  align-items: center;
}

.header-A {
  font-size: 4rem;
}

.header-A-rest {
  font-size: 2.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 40px;
  font-size: 20px;
}

.search-bar {
  position: relative;
}

.search-input {
  border: solid #1d1f1c 2px;
  height: 5vh;
  width: 15vw;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: #f0f0f0;
}

.search-img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}

.header a {
  text-decoration: none;
  color: #1d1f1c;
}

.header-nav-about {
  color: #1d1f1c;
}

.header-nav-signup {
  border: solid #1d1f1c 2px;
  padding: 10px;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.footer {
  height: 400px;
  background-color: #1d1f1c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-content a {
  text-decoration: none;
  color: #f0f0f0;
}

.footer-content h3,
.footer-content p {
  color: #f0f0f0;
}

.footer-company {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.footer-quicklinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-resources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
}

.social-logo {
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: solid #f0f0f0 2px;
}

.footer-copyright hr {
  width: 95vw;
}

.footer-copyright {
  color: #f0f0f0;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERY ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

@media (max-width: 999px) {
  .header {
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .header-A {
    font-size: 3.2rem;
  }

  .header-A-rest {
    font-size: 2.2rem;
  }

  .footer {
    height: 350x;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }

  .footer-social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 799px) {
  .header {
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .header-A {
    font-size: 3.2rem;
  }

  .header-A-rest {
    font-size: 2.2rem;
  }

  .footer {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }

  .footer-social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}