.seller-profile-layout-wrapper {
  display: flex;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 50px;
  /*border: solid green 5px;*/
}

.seller-profile-main {
  width: 80%;
  margin: 40px;
  /*border: solid red 5px;*/
}

.seller-sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* border: solid blue 5px;*/
  width: 20%;
  gap: 20px;
  font-size: 1.3rem;
}

.seller-sidebar-img-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.seller-sidebar-img {
  vertical-align: middle;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}

.seller-sidebar a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.seller-sidebar li {
  border-radius: 10px;
}

.seller-sidebar li:hover {
  background-color: #cdcdcc;
}

 li.active  {
  background-color: #777776 !important;
  color: #f0f0f0 !important;
}

